h1 {
    text-align: center
}

.navbar ul{
list-style-type: none;
background-color: darkgray;
padding: 0px;
margin: 0px;
overflow: hidden;

}

.navbar a {
color:white;
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}

.navbar li {
    float: center;
}


.cody-table th{
    color: beige;
    background-color: darkgrey;
    border-style: inset;
    width:0%;
    height: 3px;
    padding: 5%;
}
.cody-table td{
    color: blue;
    background-color: darkgrey;
    border-style: inset;
    width:0%;
    height: 3px;
    padding: 5%;
